*, ::before, ::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-family: 'Source Han Sans SC VF', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

code, kbd, .line-number {
  font-family: 'CaskaydiaCove Nerd Font', 'Source Han Sans SC VF', Consolas, monaco, monospace !important;
}
