*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-family: 'Noto Sans SC', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

code, kbd, .line-number {
  font-family: 'CaskaydiaCove Nerd Font', Consolas, Menlo, Monaco, 'Courier New', 'Noto Sans SC', 'Helvetica Neue', Helvetica, Arial, monospace, sans-serif !important;
}
